<strong>Olá, {{ student }} </strong>
<p> Você contratou um novo plano, confira os detalhes abaixo: </p>
<p>
  <strong>Usuário: </strong> {{ student }} <br />
  <strong>Data de término: </strong> {{ finalDate }} <br />
  <strong>Preço total: </strong> {{ totalPrice }} <br />
  <br />
  <strong>Bons treinos!</strong>
</p>
